git+https://github.com/Alek050/databallpy.git@develop#egg=databallpy
jupyter-book
sphinx-togglebutton
sphinx-copybutton
myst-nb
sphinx-thebe
sphinx-comments
sphinx-external-toc
sphinx-design
sphinx-book-theme
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
markdown-it-py[linkify]
mdit-py-plugins